.bubbles {
  stroke-width: 1px;
  stroke: darkslategray;
  opacity: 0.6;
}
.bubbles:hover {
  stroke: red;
  stroke-width: 2px;
  opacity: 1;
  transition: color, 1s;
  transition: opacity, 1s;
}
text {
  color: black;
}