.bubbles {
  stroke-width: 1px;
  stroke: darkslategray;
  opacity: 0.6;
}
.bubbles:hover {
  stroke: red;
  stroke-width: 2px;
  opacity: 1;
  transition: color, 1s;
  transition: opacity, 1s;
}
text {
  color: black;
}
.button-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

body{
  display: flex;
}

.danceability, .instrumentalness, .valence, .speechness, .acousticness, .liveness {
  padding: 5px;
  margin: 5px;
  font-family: Verdana;
}

button {
  border: none;
  width: 120px;
  height: 40px;
  background: gray;
  color: whitesmoke;
  margin: 5px;
  padding: 3px;
  border-radius: 10px;
}

button:focus {
  outline: none;
}

button:hover {
  cursor: pointer;
  transition: background-color, 1.5s;
  background-color: rgb(10, 9, 9);
}



